h3
{
    color: red;
    text-justify: auto;
}
p
{
    text-justify: auto;
}
li
{
    text-justify: auto;
}
ol
{
    text-justify: auto;
}
h2
{
    text-justify: auto;
}
h1
{
    text-justify: auto;
}